/*@Movie-Image-Settings*/
.card-img {
    max-width: 18%;
    min-width: 18%;
    margin-right: 5px;
    cursor: pointer;
    transition: transform .3s ease;
}

.card-img:hover{
    z-index: 10;
    transform: scale(1.1);  
}

.card-img:first-child {
    margin-left: 4%;
}

.card-img:last-child {
    margin-right: 4%;
}

.card-img img {
    width: 100%;
    border-radius: 5px;
}

/*@Breakpoints*/
@media only screen and (max-width: 1100px) {
    .card-img {
        max-width: 22.4%;
        min-width: 22.4%;
    }
}

@media only screen and (max-width: 800px) {
    .card-img {
        max-width: 30%;
        min-width: 30%;
    }
}

@media only screen and (max-width: 550px) {
    .card-img {
        max-width: 45%;
        min-width: 45%;
    }
}
