/* @Movie-Row */
.movies-row {
    margin-bottom: 3.66vw;
}

.title {
    color: #ffff;
    font-weight: bold;
    font-size: 1.7vw;
    padding-left: 4%;
    padding-bottom: 5px;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 11vw;
    display: flex;
    align-items: center;
}

.slider {
    position: absolute;
    width: 100%;
    height: 11vw;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    transition: left .3s ease;
    overflow: scroll;
}

.slider::-webkit-scrollbar {
    display: none;
}

.active {
    left: 0;
}

/* @Slider Buttons */
.right-arrow {
    color: rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    width: 4.1vw;
    height: 10.10vw;
    right: 0;
    font-size: 3.66vw;
    transition: color .5s ease;
    z-index: 5;
}

.slider-container:hover .right-arrow{
    color: rgba(255, 255, 255, 1);
}

.left-arrow {
    color: rgb(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    width: 4.1vw;
    height: 10.10vw;
    left: 0;
    font-size: 3.66vw;
    transition: color .5s ease;
    z-index: 5;
    display: none;
}

.slider-container:hover .left-arrow{
    color: rgba(255, 255, 255, 1);
}

.showLeftButton {
    display: inline-block;
}


/* @Breakpoints */
@media only screen and (max-width: 1100px) {
    .slider {
        height: 13.5vw;
    }

    .slider-container {
        height: 13.5vw;
    } 

    .title {
        font-size: 1.9vw;
    }

    .right-arrow {
        height: 12.8vw;
        width: 4.6vw;
    }

    .left-arrow {
        height: 12.8vw;
        width: 4.6vw;
    }
}

@media only screen and (max-width: 800px) {
    .slider-container {
        height: 18vw;
    } 
    .slider {
        height: 18vw;
    } 

    .title {
        font-size: 2.3vw;
    }

    .right-arrow {
        height: 17vw;
    }

    .left-arrow {
        height: 12.8vw;
    }
}

@media only screen and (max-width: 550px) {
    .slider-container {
        height: 27vw;
    }

    .slider {
        height: 27vw;
    }

    .title {
        font-size: 3.5vw;
    }

    .right-arrow {
        height: 25vw;
    }

    .left-arrow {
        height: 25vw;
    }
}