.movies-row {
    position: relative;
    top: -170px;
    margin-bottom: 50px;
}

.title {
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 10px 4%;

}

.slider-container {
    position: relative;
    height: 140px;
    width: 100%;
    overflow: hidden;
}

.slider {
    position: absolute;
    left: 4%;
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    transition: left .2s ease;
}

.active {
    left: 0;
}

.right-arrow {
    color: rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    height: 100%;
    right: 0;
    font-size: 50px;
    transition: color .5s ease;
    z-index: 5;
}

.slider-container:hover .right-arrow{
    color: rgba(255, 255, 255, 1);
}

.left-arrow {
    color: rgb(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    height: 100%;
    left: 0;
    font-size: 50px;
    transition: color .5s ease;
    z-index: 5;
    display: none;
}

.slider-container:hover .left-arrow{
    color: rgba(255, 255, 255, 1);
}

.showLeftButton {
    display: inline-block;
}
