/* @Navbar-Logo*/
.logo {
    margin-right: 40px;
    width: 95px;
}


/* @Navbar*/
.header-container {
    position: fixed;
    display: flex;
    padding: 0 4%;
    height: 68px;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(1,1,1,0) 100%);
    z-index: 999;
    transition: background .5s ease;
}

/* @First-Navbar */
.first-nav {
    margin-right: auto;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-link{
    color: #e5e5e5;
    font-size: 1vw;
    margin-right: 22px;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #b3b3b3;
}

/* @Second-Navbar*/
.second-nav .nav-list .nav-link {
    font-size: 2vw;
}

.nav-item img{
    width: 32px;
}

.active {
    background-color: rgb(20, 20, 20);
}

/* @Submenu */
.navigation-menu {
    display: none;
    font-size: 1vw;
    margin-right: auto;
    width: 50px;
}

.navigation-menu a{
    display:flex;
    align-items: center;
    font-weight: bold;
    color: #ffff;
    cursor: pointer;
}

.dropdown-icon {
    font-size: 2.5vw;
    display: flex;
}

/* @Breakpoints */
@media only screen and (max-width: 885px) {
    .header-container {
        height: 41px;
    }

    .logo {
        width: 9vw;
    }


    .first-nav {
        display: none;
    }

    .navigation-menu {
        display: inline-block;
    }

    .second-nav .nav-list .nav-link {
        font-size: 2.3vw;
    }

    .navigation-menu {
        font-size: 1.8vw;
    }
}

@media only screen and (max-width: 850px) {
    .header-container {
        height: 41px;
    }
    
    .navigation-menu {
        font-size: 1.9vw;
    }

    .second-nav .nav-list .nav-link {
        font-size: 2.8vw;
    }

    .nav-item img{
        width: 3.7vw;
    }
}